/* Variables */


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
  --color-bg: #eaebed;
  --color-surface: #a3bac3;
  --color-primary: #00261b;
  --color-secondary: #0e4749;
}

/* Reset global defaults */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto;
}

/* Typography */

p, ul, a, i {
  font-size: 12px;
}

h1 {
  font-size: 24px;
  line-height: 1;
}

section {
  padding: 1rem;
}

/* Header & Navigation (Mobile) */

header {
  background: var(--color-primary);
  padding: 0.5rem;
  color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav container */
nav {
  position: relative;
  font-family: sans-serif;
}

/* Menu list (mobile dropdown) */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;

  background-color: var(--color-primary);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show menu */
nav:hover ul,
nav ul.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Menu items */
nav ul li {
  padding: 0.8rem 1rem;
  cursor: pointer;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Hamburger */
nav svg {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/* Hero */

.hero {
  background: var(--color-primary);
  color: var(--color-bg);
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h2 {
  font-size: clamp(3rem, 5vw, 4.5rem);
  line-height: 1;
  margin: 0;
}

.hero p {
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: 1.4;
}

/* CTA */

.cta-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.cta,
.cta-secondary {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
  user-select: none;
}

.cta {
  color: var(--color-primary);
  background-color: var(--color-surface);
}

.cta-secondary {
  color: var(--color-bg);
  background-color: var(--color-primary);
  border: 3px solid white;
}

.right {
  justify-self: right;
}

/* Service Grid */

.service-container {
  display: grid;
  gap: 2.5rem;
  margin: 2.5rem;
  padding: 0 1rem;
  justify-items: center;
}

.service-item {
  text-align: center;
}

.service-item p {
  font-weight: 300;
}

/* Service Images */

.img-small {
  width: 1.5rem;
  height: 1.5rem;
}

.img-medium {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.service-img {
  background: rgba(150, 205, 150, 0.618);
  border-radius: 50%;
  padding: 0.75rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-title {
  display: flex;
  justify-self: left;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Media Querys */

@media (min-width: 768px) {
  p, ul, a, i {
  font-size: 16px;
}

  nav ul {
    position: static;
    flex-direction: row;
    gap: 0.5rem;
    width: auto;

    opacity: 1;
    visibility: visible;
    transform: none;

    background: transparent;
    box-shadow: none;
  }

  nav svg {
    display: none;
  }

  nav ul li:hover {
    background: none;
    border-bottom: 2px solid var(--color-bg);
  }

  .service-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 0 3rem;
  }

  .cta-container {
    gap: 8rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
